<div class="wrapper-top">
    <img class="logo" id="logo" src="/Marina.png">
    <div class="names-top-page">
        <div class="projetos">
                <a class="name-top-first menu projeto" href="/projetos">+ projetos</a>
                <div class="menu-projetos-wrapper">
                    <div class="menu-projetos">
                        <a class="menu-icons" href="#">comerciais</a>
                        <a class="menu-icons" href="#">residenciais</a>
                        <a class="menu-icons" href="#">interiores</a>
                    </div>
                </div>
            </div>

            <div><a class="name-top-first menu" href="/pulicacoes">publicações</a></div>
            <div><a class="name-top-first menu" href="/sobre">sobre</a></div>
            <div><a class="name-top-first menu" href="/contato">contato</a></div>
            <a href="https://www.facebook.com/estudiomparquitetura/" target="_blank"><i class="fab fa-facebook-f social-media facebook menu"></i></a>
            <a href="https://www.instagram.com/estudiompa/" target="_blank"><i class="fab fa-instagram social-media menu"></i></a>
    </div>
</div>

<div id="pictures-bottom">
    <div><img data-position="0" class="picture-bottom" src="/marina1.jpg"></div>
    <div><img data-position="1" class="picture-bottom" src="/marina2.jpg"></div>
    <div><img data-position="2" class="picture-bottom" src="/marina3.jpg"></div>
    <div><img data-position="3" class="picture-bottom" src="/marina4.jpg"></div>
</div>

<div id="pictures-bottom">
    <div><img data-position="4" class="picture-bottom" src="/marina1.jpg"></div>
    <div><img data-position="5" class="picture-bottom" src="/marina2.jpg"></div>
    <div><img data-position="6" class="picture-bottom" src="/marina3.jpg"></div>
    <div><img data-position="7" class="picture-bottom" src="/marina4.jpg"></div>
</div>

<div id="pictures-bottom">
    <div><img data-position="8" class="picture-bottom" src="/marina1.jpg"></div>
    <div><img data-position="9" class="picture-bottom" src="/marina2.jpg"></div>
    <div><img data-position="10" class="picture-bottom" src="/marina3.jpg"></div>
    <div><img data-position="11" class="picture-bottom" src="/marina4.jpg"></div>
</div>
